<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Place your bean here -->
    <bean id="beanA" class="com.vd14.callbacks.BeanA" init-method="init" destroy-method="destroy">
        <property name="beanB" ref="beanB"/>
    </bean>

    <bean id="beanB" class="com.vd14.callbacks.BeanB">
        <property name="message" value="Callback Example"/>
    </bean>
    
</beans>